/*GENERAL
font-family: 'Open Sans', sans-serif;
font-family: 'Exo 2', sans-serif;
/*--------------*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #000;
}
.lang-active {
  color: #c59455;
}
.active {
  border-top: 2px solid red;
}
input.button {
  display: inline-block;
  font-size: 1.1em;
  min-width: 7rem;
  color: #fff;
  background-color: #ec0f2e;
  line-height: 2.4;
  border-radius: 3px;
  text-align: center;
  border: none;
  outline: none;
  box-shadow: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.button {
  display: inline-block;
  font-size: 1.1em;
  min-width: 7rem;
  color: #fff;
  background-color: #ec0f2e;
  line-height: 2.4;
  border-radius: 3px;
  text-align: center;
}
.section-title {
  font-family: "Magnum", sans-serif;
  font-size: 1.8em;
  text-transform: uppercase;
  text-align: center;
}
.title-white {
  font-family: "Magnum", sans-serif;
  font-size: 1.8em;
  text-transform: uppercase;
  color: #fff;
}
/*Navigation*/
.logo-social-nav-wrp {
  text-align: center;
}
.tel-btn-wrp {
  text-align: right;
}
.socials-lang, .logo, .tel-btn-wrp {
  display: inline-block;
  min-width: 15rem;
  width: 25%;
  vertical-align: middle;
  margin-bottom: 30px;
  max-width: 25rem;
}
.logo-social {
  display: inline-block;
  width: 80%;
  padding-top: 50px;
  text-align: center;
}
.socials-lang {
  text-align: left;
}
.socials-box, .telephone-num {
  margin-bottom: 1.5rem;
}
.social-icon {
  color: #000;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 0.6rem;
}
.lang-select > li {
  display: inline-block;
  margin-left: 0.6rem;
  font-weight: bold;
}
.lang-select a:first-child {
  padding-right: 0.3em;
  border-right: 1px solid #bbb;
}
.telephone-num a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  color: #000;
}
.tel-btn-wrp .order-btn {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  background-color: #df2640;
  color: #fff;
  text-transform: uppercase;
  width: 12rem;
  line-height: 1.6em;
  border-radius: 3px;
  text-align: center;
}
/**/
nav {
  border-top: 1px solid #cccccc;
  text-align: center;
}
nav a {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #000;
  font-size: 1.12em;
  padding: 0 10px;
  line-height: 2.5em;
  transition: all 0.3s linear;
  border-top: 2px solid rgba(0,0,0,0);
}
nav a:hover {
  border-top: 2px solid red;
}
/*Mobile*/
.mobile-menu-wrp {
  height: 7rem;
}
.mobile-menu {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 90%;
  padding: 1.3rem 5%;
  z-index: 101;
}
.burger {
  display: none;
  height: 20px;
  width: 30px;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  }
.burger-line {
  position: absolute;
  height: 2px;
  width: 100%;
  background: #000;
  transition: all 0.2s linear;
}
.burger-line:nth-child(1) {
  top: 0;
  left: 0;
}
.burger-line:nth-child(2) {
  top: 47.1%;
  left: 0;
}
.burger-line:nth-child(3) {
  bottom: 0;
  left: 0;
}
.mobile-menu, .mobile-menu-wrp {
  display: none;
}
.mobile-logo-wrp {
  display: inline-block;
  width: calc(100% - 35px);
  text-align: right;
  vertical-align: middle;
}
.mobile-menu-aside {
  position: fixed;
  top: 7rem;
  left: -100%;
  height: calc(100vh - 7rem);
  width: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 98;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s linear;
  overflow: auto;
}
.mobile-menu-aside-list {
  text-align: center;
}
.mobile-menu-aside-list li {
  line-height: 2;
  margin: 10px;
}
.mobile-menu-aside-list li a {
  font-family: "Magnum";
  font-size: 1.5em;
  color: #fff;
}
.mobile-menu-aside .socials-box .social-icon {
  color: #fff;
  transition: 0.3s;
}
.mobile-menu-aside .socials-box .social-icon:hover {
  color: red;
}
/*click class*/
.open {
  left: 0;
}
.line-active:first-child {
  transform: rotate(40deg);
  top: 40%;
}
.line-active:nth-child(2) {
  opacity: 0;
}
.line-active:last-child {
  transform: rotate(-40deg);
  bottom: 50%;
}
.top-btn {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 20px;
  height: 3rem;
  width: 3rem;
  z-index: 50;
  text-align: center;
}
.up-icon {
  font-size: 3rem;
  color: red;
}
.phone-modal-btn {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  width: 4.5rem;
  border-radius: 50%;
  text-align: center;
  background-color: red;
  z-index: 91;
}
.phone-modal-icon {
  color: #fff;
  font-size: 3rem;
  line-height: 1.5;
}
